@model IEnumerable<ExerciseMVC.Models.Task>

@{
    ViewBag.Title = "To Do List";
}

<div class="row">
    <div class="col-md-12">
        <h1>To Do List</h1>

        @foreach (var item in Model)
        {
            <p>Task @Html.DisplayFor(modelItem => item.TaskId): @Html.DisplayFor(modelItem => item.TaskDescription)</p>
            <p>Due date: @Html.DisplayFor(modelItem => item.TaskDate)</p>
            <p></p>
        }
    </div>
</div>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-6">
            @Html.TextBox("TaskDescription")
        </div>

        <div class="col-md-6">
            <input type="submit" value="Add task" class="btn btn-default" />
        </div>
    }
</div>
